---
# Handlers for CIS hardening

- name: restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: restart auditd
  ansible.builtin.command:
    cmd: service auditd restart
  failed_when: false

- name: restart nftables
  ansible.builtin.systemd:
    name: nftables
    state: restarted

- name: restart rsyslog
  ansible.builtin.systemd:
    name: rsyslog
    state: restarted

- name: restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted
