apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vault-aio

resources:
  - namespace.yaml
  # Vault
  - vault/vault-config.yaml
  - vault/vault-deployment.yaml
  - vault/vault-init-job.yaml
  # Monitoring
  - monitoring/prometheus.yaml
  - monitoring/grafana.yaml
  - monitoring/alertmanager.yaml
  # Logging
  - logging/loki.yaml
  - logging/alloy.yaml
  # Tracing
  - tracing/tempo.yaml
  # NTP
  - ntp/chrony.yaml
  # Istio Service Mesh
  - istio/gateway.yaml
  - istio/virtual-services.yaml
  - istio/destination-rules.yaml
  - istio/authorization-policies.yaml
  # Dashboards
  - dashboards/configmap-overview.yaml
  - dashboards/configmap-cluster.yaml
  - dashboards/configmap-logs.yaml
  - dashboards/configmap-metrics.yaml
  - dashboards/configmap-security.yaml
  # Homepage
  - ingress/homepage.yaml

labels:
  - pairs:
      app.kubernetes.io/part-of: vault-aio
      app.kubernetes.io/managed-by: kustomize
    includeSelectors: false
