---
# Password policy tasks

- name: Configure password aging controls in login.defs
  ansible.builtin.lineinfile:
    path: /etc/login.defs
    regexp: "^{{ item.key }}"
    line: "{{ item.key }} {{ item.value }}"
    state: present
  loop:
    - { key: "PASS_MAX_DAYS", value: "{{ password_max_days }}" }
    - { key: "PASS_MIN_DAYS", value: "{{ password_min_days }}" }
    - { key: "PASS_WARN_AGE", value: "{{ password_warn_age }}" }
    - { key: "PASS_MIN_LEN", value: "{{ password_min_length }}" }

- name: Install libpam-pwquality for password quality enforcement
  ansible.builtin.apt:
    name: libpam-pwquality
    state: present

- name: Configure password quality requirements
  ansible.builtin.lineinfile:
    path: /etc/security/pwquality.conf
    regexp: "^{{ item.key }}"
    line: "{{ item.key }} = {{ item.value }}"
    state: present
  loop:
    - { key: "minlen", value: "14" }
    - { key: "dcredit", value: "-1" }
    - { key: "ucredit", value: "-1" }
    - { key: "ocredit", value: "-1" }
    - { key: "lcredit", value: "-1" }
    - { key: "maxrepeat", value: "3" }
    - { key: "maxsequence", value: "3" }
    - { key: "difok", value: "3" }
