---
# Security tools installation and configuration

- name: Install additional security packages
  ansible.builtin.apt:
    name:
      - aide
      - aide-common
      - fail2ban
      - unattended-upgrades
      - apt-listchanges
    state: present

- name: Configure fail2ban
  ansible.builtin.copy:
    content: |
      [DEFAULT]
      bantime = 3600
      findtime = 600
      maxretry = 3
      destemail = root@localhost
      sender = root@localhost

      [sshd]
      enabled = true
      port = {{ ssh_port }}
      logpath = /var/log/auth.log
      maxretry = 3
    dest: /etc/fail2ban/jail.local
    mode: '0644'
    owner: root
    group: root
  notify: restart fail2ban

- name: Enable and start fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    enabled: yes
    state: started

- name: Configure unattended-upgrades
  ansible.builtin.copy:
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Download-Upgradeable-Packages "1";
      APT::Periodic::AutocleanInterval "7";
      APT::Periodic::Unattended-Upgrade "1";
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: '0644'
    owner: root
    group: root
